<a
	{...Astro.props}
	rel='noopener noreferrer'
	class='text-md group inline-flex max-w-fit cursor-pointer items-center justify-center gap-2 space-x-2 rounded-xl border border-teal-800 bg-teal-950 px-3 py-2 text-base text-highlighted transition focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-teal-600/80 focus-visible:ring-white focus-visible:ring-offset-2 active:bg-teal-800 active:text-slate-400 md:hover:border-teal-700 md:hover:bg-transparent md:hover:text-slate-300'
>
	<slot />
</a>
